<div><h2><span style="color:#006400;"><span style="font-size:28px;line-height:40px;">                                </span></span>
<span style="color:#b22222;"><span style="font-size:60px;line-height:40px;">eFax</span></span> 🖨<br></h2>
<div><table style="background-color:#fff" width="100%" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td align="center">
<table style="background-color:#ffffff" width="600" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td align="center">
<table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody><tr><td style="border-bottom-color:#fff;border-bottom-style:solid;border-bottom-width:1px;color:#000000;font-family:'helvetica neue' , 'helvetica' , 'arial' , 'geneva' , 'helvetica' , sans-serif;font-size:15px;font-weight:normal;line-height:21px"><table width="600" cellspacing="0" cellpadding="4" border="0" align="center">
<tbody><tr><td style="color:#000000;font-family:'arial' , 'helvetica' , sans-serif;font-size:15px;font-weight:normal;line-height:21px;padding:15px">
<p style="margin-bottom:1em;margin-top:1em;text-align:left">You just received a secured document from your contact using <strong style="color:red">eFax 🖨<strong> </strong></strong><br></p><table width="100%">
<tbody><tr><td align="center"><table width="250" cellspacing="10" cellpadding="6" align="center"><tbody><tr><td style="background-color:#cd0000;border-radius:20px" height="30" align="center">
<strong style="color:red"><strong><a href="" target="_blank" style="color:#ffffff; font-family:arial,sans-serif; font-size:19px; font-weight:bold; text-decoration:none" rel="noopener noreferrer">View Message</a></strong></strong></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table><br><br></td></tr><tr><td><br></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table><table width="600" cellspacing="4" border="0" bgcolor="#ffffff" align="center"><tbody><tr><td><p style="color:#000000;font-family:'helvetica neue' , 'helvetica' , 'arial';font-size:11px;line-height:15px;margin-left:15px;margin-top:10px;text-align:left">© 2020 J2 Global, Inc. or its affiliates (collectively, “J2”). All rights reserved.<br>eFax is a registered trademark of J2.<br>700 S. Flower St., 15th Floor, Los Angeles, CA 90017<br></p></td></tr></tbody></table></div><div><br></div><div><br></div></div>